<div id="blog">
  <%= form_for(@blog, remote: true) do |form| %>
    <table class = "table table-condensed box-form"> 
      <thead>
        <tr class="row">
          <td class = "col-5">
            <%if @blog.id%>
              <h3><strong>Editing Blog</strong></h3>
            <%else%>
              <h3><strong>New Blog</strong></h3>
            <%end%>    
          </td>
        </tr>
        <tr class="row">
          <td class = "col-5">
            <% if @blog.errors.any? %>
              <div id="error_explanation">
                <h2>
                  <%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:
                </h2>
                <ul>
                  <% @blog.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </td>
        </tr>  
      </thead>
      <tbody>  
        <tr class="row">
          <td class = "col-5">
            <%= form.label :title %>
          </td>
          <td class = "col-5">
            <%= form.text_field :title, id: :blog_title %>
          </td>  
        </tr>   

        <tr class="row">
          <td class = "col-5"> 
            <%= form.label :description %>
          </td>
          <td class = "col-5">    
            <%= form.text_field :description, id: :blog_description %>
          </td>
        </tr>    

        <tr class="row">
          <td class = "col-5">
            <%= form.label :content %>
          </td>   
          <td class = "col-5">
            <%= form.text_area :content, id: :blog_content %>
          </td>
        </tr> 

        <tr class="row">
          <td class = "col-3"><%= form.hidden_field :user_id, :value => current_user.id %>
          </td>
          <td class = "col-3">
            <%= form.hidden_field :article_status, :value => "Drafts" %>
          </td>
          <td class = "col-3">
            <%= form.hidden_field :verify, :value => true %>
          </td>
        </tr>  
        <%=hidden_field_tag "access_token", 
        session[:access_token]%>
        <div>
          <tr class="row">
            <td class = "col-5">
              <%= form.submit 'Post Article', class: "btn btn-success"%>
            </td>
          </tr>  
        </div>             

        <tr class="row">
          <td class = "col-5">
            <%= link_to 'Back', blogs_path(access_token: session[:access_token]),remote: true, class: "btn btn-info" %>
          </td>
        </tr>
      </tbody> 
    </table>
  <%end%>
</div>
