<div id="blog">

  <hr>
    <h3>Just To Be Safe...</h1>
			<p>
		    Your account has been created, but we need to make sure you're a human
		    in control of the phone number you gave us. Can you please enter the 
		    verification code we just sent to your Twilio Authy app or mobile?
			</p>
			<%= form_tag blog_verify_code_path(id: @blog.id,access_token: session[:access_token]),:remote=> 'true' do %>
			  <div class="form-group">
			    <strong><%= label_tag :code, "Verification Code:" %></strong>
			    <%= text_field_tag :token, '', class: "form-control" %>
			  </div>
			  <%= submit_tag 'Verify Token', class: "btn btn-success"%>
			<% end -%>
			<hr>
			<%= form_tag blog_resend_path(id: @blog.id,access_token: session[:access_token]),:remote=> 'true' do %>
				<div>
					<%= submit_tag 'Resend Token', class: "btn btn-success"%>
			  </div>
			<hr>
			<br>	
			<% end -%>

</div>