<div id="blog">
	<div class="row">
    <div class = "col-5">

      <%if flash[:notice]%>
        <p class = "alert alert-info alert-dark alert-dismissible fade show" id="notice"><%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
        </button></p>
        <%else%>
        <p></p>
      <%end%>  
    </div>
  </div> 
  <hr>
  <h3>Just To Be Safe...</h1>
	<p>
    Your account has been created, but we need to make sure you're a human
    in control of the phone number you gave us. Can you please enter the 
    verification code we just sent to your Twilio Authy app or mobile?
	</p>
	<%= form_tag blog_verify_code_path(id: @blog.id,access_token: session[:access_token]),:remote=> 'true' do %>
	  <div class="form-group">
	    <strong><%= label_tag :code, "Verification Code:" %></strong>
	    <%= text_field_tag :token, '', class: "form-control" %>
	  </div>
	  <button type="submit" class="btn btn-primary">Verify Code</button>
	<% end -%>
	<hr>
	<%= form_tag blog_resend_path(id: @blog.id,access_token: session[:access_token]),:remote=> 'true' do %>
		<div>
			<button type="submit" class="btn btn-primary">Resend Code</button>
	  </div>
	<hr>	
	<% end -%>
	<%=link_to 'Back', blogs_path(access_token: session[:access_token]), class: "btn btn-info"%>
	<br>
</div>