<div id="blog">
  <div class = "box blog"> 
    <div class="row">
      <div class = "col-5">

        <%if flash[:notice]%>
          <p class = "alert alert-success alert-dark alert-dismissible fade show" id="notice"><%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
          </button></p>
          <%else%>
          <p></p>
        <%end%>  
      </div>
    </div>  
    <%@user = current_user%>
    <hr> 
 
    <hr>
    <div class="row">
      <div class = "col-3">
        <h3>
          <strong>
            Blogs
          </strong>
        </h3>
      </div>
      <%if @user%>
        <div class = "col-4">
          <%if @user.provider == "NewBlog"%>  
            <h3>
              <%= link_to "View my Blogs", my_blog_list_path(access_token: session[:access_token]),remote: true, class: "btn btn-primary" %>
            </h3> 
          <%else%>  
            <strong>Want to start blogging! Register as a Blog User</strong>
          <%end%>       
        </div>
        <div class = "col-5"> 
          Signed in as <strong><%= current_user.name %></strong>!
          <%= link_to "Sign me out!", signout_path, class: "btn btn-warning" %>
        </div>
      <%else%>
        <div class = "col-5"> 
          <%= link_to "Sign me in", new_session_path, class: "btn btn-primary" %> <strong> as New Blog user to start Blogging</strong>
        </div>        
      <%end%>


    </div>
    <hr>  
    <% @blogs.each do |blog| %>

      <div class="row">
        <div class = "col-5">
          <h4><strong><%= blog.title%></strong> by <i><%= User.find_by(id: blog.user_id).name%></i></h4>
        </div>
      </div>
      <div class="row"> 
        <div class = "col-5">
        <h6><strong>Title:</strong>
          <%= blog.title %></h6>
        </div>  
      </div> 
      <div class="row">
        <div class = "col-5">
           <i><strong>Description:</strong></i>
            <i><%= blog.description %></i>
        </div>
      </div>
      <div class="row">
        <div class = "col-5">
        <%if current_user%>
          <strong><%=link_to 'Read More', blog_path(id: blog.id, access_token: session[:access_token]), remote: true, class: "btn-sm btn-primary"%></strong>
        <%else%>     
          <strong><%=link_to 'Sign me in', new_session_path, class: "btn-sm btn-primary"%></strong> to read more!
        <%end%>

        </div>
      </div>
      <hr>
    <% end %>
    <p>
      <%if @user && @user.provider == "NewBlog"%>
        <div class="row">
          <div class = "col-5">
            <%= link_to 'New Blog',new_blog_path(access_token: session[:access_token]), remote: true, class: "btn btn-success"%>
          </div>
        </div>
      <%else%>  
      <%end%>   
    </p>   
  </div>
</div>
